{% extends "layouts/manager_base.html" %}

{% block title %} Trainees Account Modification {% endblock %}
{% block content %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Review Trainee Profile Modification</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Manager</a></li>
                    <li class="breadcrumb-item"><a href="#">Trainees</a>
                    </li>
                    <li class="breadcrumb-item"><a href="#">Profile Modifications Requests</a></li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    {% with messages = get_flashed_messages(with_categories=True) %}
                            {% if messages %}
                                <ul class="flash-messages">
                                {% for category, message in messages %} 
                                    {% if category == 'error' %}
                                    <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                                        {{message}}
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    {% elif category == 'success' %}
                                    <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
                                        {{message}}
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                </ul>                                        
                            {% endif %}
                            {% endwith %}
                    <div class="card">
                        <div class="card-body">
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Modification Details</th>                                    
                                </tr>
                                </thead>
                                <tbody>
                                {% for trainee in trainees %}
                                    <tr>
                                        <th scope="row">{{ trainee[0] }}</th>
                                        <td>{{ trainee[2] }}</td>              
                                        <td><a href="{{ url_for('manager.get_trainees_accounts_details_view', id=trainee[9]) }}">Modification
                                            details</a></td>                                        
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- NOTE: i still don't know what does this do-->
                            <div class="modal fade" id="verticalycentered" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Vertically Centered</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Non omnis incidunt qui sed occaecati magni asperiores est mollitia. Soluta
                                            at et reprehenderit. Placeat autem numquam et fuga numquam. Tempora in
                                            facere consequatur sit dolor ipsum. Consequatur nemo amet incidunt est
                                            facilis. Dolorem neque recusandae quo sit molestias sint dignissimos.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End Vertically centered Modal-->

                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main><!-- End #main -->
{% endblock %}


