{% extends "layouts/advisor_base.html" %}

{% block title %} My Trainees{% endblock %}
{% block content %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>My Trainees</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('advisor.active_trainees') }}">My Trainees</a></li>
                    <li class="breadcrumb-item">Manage My Trainees</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th scope="col">Status</th>
                                    <th scope="col">Id</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Desired field</th>
                                    <th scope="col">Area of Interest</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for trainee in trainees %}
                                    <tr>
                                        <th scope="row">{{ trainee[0] }}</th>
                                        <td><span class="badge {{ "bg-success" if (trainee[0] !="2") else "bg-info" }}">{{trainee[1]}}</span></td>                                       
                                        <td>{{ trainee[2] }}</td>
                                        <td>{{ trainee[3] }}</td>
                                        <td>{{ trainee[4] }}</td>
                                        <td>{{ trainee[5] }}</td>
                                    </tr>
                                {% endfor %}                                
                                </tbody>
                            </table>                        
                            
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </main><!-- End #main -->
{% endblock %}


